*{
	box-sizing: border-box;
	margin-right: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: BebasNeue;
    src: url(../BebasNeue.otf);
}

.headerr{
	font-family: BebasNeue;
	text-align: center;
	color: #84754E;
	font-size: 4em;
	background-color:black;
	margin-bottom: 0px;
	padding-bottom: 0px;


}


.container{
	/*background-image: url(../images/tiled.png);*/
	background-image: url(../images/tiled.png);
	width:100%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;


}

.navbark{
	font-family: BebasNeue;
	color: #84754E;
	font-size: 1.5em;
	border-bottom: 3px solid #84754E;
	border-top: 2px solid #84754E;
	/*margin-bottom: 20px;*/
	text-decoration: none;
	/*background-color:black;*/
	padding-top:6px;
	padding-bottom: 3px;
	text-align: center;
	width:100%;
	margin-bottom: 10px;

}

.toplink{
	margin: 0 1.5em;
}

.textbox{
	width:55%;
	margin:0 auto;
	position: relative;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 500;
    font-size: 2em;
    background-color: black;
    border: 1px solid #84754E;
    padding:2px;
    text-align: center;
    margin-bottom: 10px;
}



.teeny{
	-webkit-transform: scale(0.85); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.85); /* FF3.5+ */
      -ms-transform: scale(0.85); /* IE9 */
       -o-transform: scale(0.85); /* Opera 10.5+ */
          transform: scale(0.85);
}

	-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.59);
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.59);
/*position: relative;*/
/*display: block;
margin:0 auto;*/
}

.mainpyramid{
	-webkit-transform: scale(0.85); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.85); /* FF3.5+ */
      -ms-transform: scale(0.85); /* IE9 */
       -o-transform: scale(0.85); /* Opera 10.5+ */
          transform: scale(0.85);
}

body{
	
	background-color: black;
	width:100%;
}

.holder{
	padding-bottom: 20px;
	padding-top:20px;
	display: block;
margin:0 auto;
	
}

.social{
	height:50px;
	width:50px;
	
	background-color: black;
}
.tinysocial{
	background-color: black;
}

.socialbox{
	
	margin-bottom: 20px;
	padding-top: 20px;
	width: 100%;
	border-top: 3px solid #84754E;
	background-color: black;

}

a{
	text-decoration: none;
	color:inherit;

}

a:hover{
	text-decoration: none;
	color:inherit;

}

.highlight{
    /*display:inline;*/
    color:#84754E;
    
}

.textbox{
	font-size: 1em;
	line-height: 1.5em;
}

/*Modal CSS*/

.modal-header{
	background-color:#84754E;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-family: BebasNeue;
	}

.modal-body{
	background-color:#84754E;
	
	font-family: BebasNeue;
	}
.modal-footer{
	background-color:#84754E;
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	font-family: BebasNeue;
	}
/*End Modal CSS*/

/*Panel CSS*/
.panel{
	
	font-family: BebasNeue;
}
.panel-heading{
	background-color:#84754E;
	font-family: BebasNeue;
	font-size: 1.1em;
	border-color:#84754E;
}

.panel-body{
	border-color:#84754E;
}

.panel-default{
	font-size: 1.1em;
	font-family: BebasNeue;
	border-color:#84754E;
}


#headingTwo{
	background-color: black;
	color:#84754E;
	border-color:#84754E;
	font-size: 1.1em;
}

#collapseTwo{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingOne{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseOne{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingThree{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseThree{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingFour{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseFour{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingFive{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseFive{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingSix{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseSix{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

#headingSeven{
	background-color: black;
	color:#84754E;
	font-size: 1.1em;
}

#collapseSeven{
	background-color:black;
	font-family: BebasNeue;
	color:#84754E;
}

.panel-group{
	font-size: 1.1em;
}

h4{
	font-size: 1.1em;
}
/*Panel CSS*/
/*BOOTSTRAP PRODUCT PAGE SNIPPET BEGINS HERE*/
/*******************************************/

/*********************************************
    			Call Bootstrap
*********************************************/

@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
	width:auto;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: black;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.containerp {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

/*********************************************
				ITEM 
*********************************************/

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;
}
.item-display{
	vertical-align: middle;
	margin:auto auto;
	
}

.product-info{
	border-bottom: 5px #84754E;
	background-color: black;

}

.black{
	background-color: black;
}